@images-iCheck-path-flat:		'../../../images/plugins/iCheck/flat/';
@images-iCheck-path-futurico:	'../../../images/plugins/iCheck/futurico/';
@images-iCheck-path-line:		'../../../images/plugins/iCheck/line/';
@images-iCheck-path-minimal:	'../../../images/plugins/iCheck/minimal/';
@images-iCheck-path-polaris:	'../../../images/plugins/iCheck/polaris/';
@images-iCheck-path-square:		'../../../images/plugins/iCheck/square/';