<div class="error-page">
	<h2 class="headline text-info">{$_error.code}</h2>
	<div class="error-content">
		<h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>
		<p>
			We could not find the page you were looking for.
			Meanwhile, you may <a href="{$smarty.const.DYN_ADMIN}">return to dashboard</a> or try using the search form.
		</p>
	</div>
</div>
