<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/js/vendors/jquery.min.js"><\/script>')</script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script>window.jQuery.ui || document.write('<script src="/assets/js/vendors/jquery-ui.min.js"><\/script>')</script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
<script>typeof $.fn.modal == 'function' || document.write('<script src="/assets/js/vendors/bootstrap.js"><\/script>')</script>
<script src="/assets/js/AdminLTE-app.js" type="text/javascript"></script>
<script src="/assets/js/utilities.js" type="text/javascript"></script>
{if !empty($PostponedJS)}{foreach $PostponedJS as $JSSnippet}{$JSSnippet}{/foreach}{/if}
